header {
  background-image: url("../img/header/hero-bg.png");
  width: 1366px;
  height: 554px;
  left: 0px;
  top: 0px;
}

.unectLogo {
  position: absolute;
  width: 220px;
  height: 54px;
  left: 100px;
  top: 32px;
  display: flex;
}
.unectLogo p {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  /* brandBlack */

  color: #111111;
  opacity: 0.5;
}

.headerText {
  /* Uma frase. Outra frase. A terceira frase. */
  position: absolute;
  width: 308px;
  height: 144px;
  left: 100px;
  top: 180px;
  margin-top: 0px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 14px;
  color: #111111;
}

#dataColorida {
  color: #226ed8;
}

.headerButton {
  position: absolute;
  width: 309px;
  height: 23px;
  left: 100px;
  top: 346px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  color: rgba(17, 17, 17, 0.5);
}

.inscricao {
  /* brandBlue */

  background: #226ed8;
  border-radius: 25px;

  width: 137px;
  height: 45px;
  left: 100px;
  top: 392px;

  background: #226ed8;
  border-radius: 25px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #f6f7f9;
}

.edital {
  left: 0%;
  right: 27.21%;
  top: 0%;
  bottom: 0%;
  background: transparent;
  border-radius: 42px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;

  color: #226ed8;
}

.edital:hover {
  background-color: transparent;
}
.edital:active {
  position: relative;
  top: 1px;
}
.mediaHeader {
  position: absolute;
  width: 9.72px;
  height: 20px;
  left: 1251px;
  top: 227px;

  opacity: 0.7;
}

.sobreNos {
  width: 138px;
  height: 34px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 34px;
}

.sobreNos h1 {
  margin-top: 80px;
  margin-left: 100px;
  width: 138px;
  height: 34px;
  left: 100px;
  top: 634px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;

  /* brandBlack */

  color: #111111;
}

.questionForm {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1200px;
  top: 671px;

  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #111111;
  bottom: 50px;
}

.form {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.form-content {
  background-color: #fefefe;
  border-radius: 6px;
  margin: auto;
  border: 1px solid #888;
  width: 430px;
  height: 550px;
}

.form-title {
  height: 100px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #226ed8;
  font-size: 25px;
  font-weight: bold;
  border-radius: 6px;
}

.content {
  margin: 30px 40px 0 40px;
}
.content-item {
  display: flex;
  flex-direction: column;
}
.content-item label {
  font-size: 16px;

  align-self: flex-start;
}
.content-item textarea {
  min-height: 130px;
  max-height: 130px;
  min-width: 100%;
  max-width: 100%;
}
.field {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 7px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 16px;
}

.form-footer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.footer-content {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-right: 50px;
  font-size: 20px;
}

.close {
  color: #aaaaaa;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.box {
  box-sizing: border-box;
  width: 761px;
  height: 272px;
  margin-top: 32px;
  margin-left: 100px;
  display: flex;

  background: #f2f3f4;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 87%;
  width: auto;
  margin-top: -250px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 81%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.box p {
  width: 334px;
  height: 200px;
  margin-top: 32px;
  margin-left: 40px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #111111;
  opacity: 0.8;
}

.vagas h1 {
  margin-top: 80px;
  margin-left: 100px;
  width: 84px;
  height: 34px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #111111;
}

.vagasDesign {
  display: inline-flex;
}

#design {
  margin-top: 32px;
}

.vagasBlock {
  width: 1366px;
  display: flex;
  flex-wrap: wrap;
}
.vagasBlock lu {
  justify-content: space-around;
  margin-left: 100px;
}

.vagasBlock lu p {
  width: 320px;
  height: 145px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #111111;
}

.tituloUm {
  width: 71px;
  height: 25px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;

  color: #226ed8;
}

.tituloDois {
  width: 85px;
  height: 25px;
  left: 219px;
  top: 1118px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;

  color: rgba(63, 61, 86, 0.5);
}

#lineSeparation {
  width: 1366px;
  height: 1px;
  left: 0px;
  top: 1634px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.alumni {
  width: 1366px;
  height: 400px;
}

.alumni h1 {
  width: 364px;
  height: 36px;
  margin-top: 80px;
  margin-left: 100px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #111111;
}
#samsung {
  margin-left: 100px;
}
.alumni a {
  margin-top: 52px;
  margin-right: 65px;
}

footer {
  background-color: black;
  margin-top: 80px;
  width: 1366px;
  height: 428px;
  display: flex;
  justify-content: space-between;
}

footer container {
  display: flex;
  margin-top: 71px;
  margin-left: 100px;
  margin-right: 100px;
}

.infoUnect p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */

  text-align: center;

  /* brandWhite */

  color: #fdfdfd;
  opacity: 0.7;
}

.socialMedia a {
  margin-right: 15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;

  color: #fdfdfd;
  opacity: 0.7;
}
.emoticons a {
  margin-right: 15px;
}
.infoUnect a {
  margin-right: 30px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  text-align: right;

  color: #fdfdfd;
  opacity: 0.7;
}

#lineHoriz {
  margin-top: 30px;
  margin-right: 15px;
  margin-left: -15px;
  width: 50px;
  height: 0px;
  border: 1px solid rgba(253, 253, 253, 0.3);
  transform: rotate(-180deg);
}
