

footer {
    background-color: black;
    width: 1366px;
    height: 428px;
    padding: 71px 0 0 100px;
    display: flex; 
    justify-content:  space-around; 

}

footer container {  
    display: flex;    
}

